.container {
    display: flex;
    width: 100%;
    border: 3px solid #00ffcc;
    border-radius: 20px;
    background-color: #000000;
    box-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #00ffff;
}

.project, .compilation-stages {
    flex: 1;
    padding: 20px;
    max-width: 70%;
    float: left;
    color: #ffcc00;
    font-family: 'Courier New', Courier, monospace;
}


body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #111111;
    color: #00ffcc;
}

h1 {
    border-bottom: 1px solid #ffcc00;
    color: #ff00ff;
    font-family: 'Courier New', Courier, monospace;
}


#right {
    text-align: right;
    color: #ffcc00;
}

#my-info {
    width: 70%;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    padding: 5px;
    background-color: #111111;
    box-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #00ffff;
}

#nav {
    border: 2px solid #ffcc00;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    background-color: #000000;
    box-shadow: 0px 0px 10px #00ffcc, 0px 0px 20px #ff00ff;
}

#intro {
    width: 70%;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    padding: 5px;
}

/* NAVIGATION BAR (Retro Theme) */
#home-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #008080; /* Retro teal */
    overflow: hidden;
}

#home-ul li {
    float: left;
}

#home-link a {
    display: block;
    color: #ffcc00; /* Retro yellow */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Courier New', monospace; /* Retro font */
}

/* Hover effect */
#home-link a:hover {
    background-color: #333;
    color: #fff;
}

/* THEME BUTTON (Retro Theme) */
#theme-button {
    background-color: #008080;
    color: #ffcc00;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    text-align: center;
}

#header-container {
    display: flex;
    justify-content: space-between; /* Space between ul and button */
    align-items: center; /* Align items vertically in the center */
    background-color: #008080;
    padding: 10px; /* Adjust padding as needed */
}

#theme-button:hover {
    background-color: #333;
    color: #fff;
}

#resume {
    width:auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 1000px;
    max-height: 2000px;
}