.container {
    display: flex;
    width: 100%;
    border: 3px solid #ccc;
    border-radius: 20px;
    background-color: #ffff;
}

.project {
    flex: 1;
    padding: 20px;
    max-width: 70%;
    float: left;
}


body {
    font-family: Verdana;
    font-size: 14px;
    background-color: #D3D3D3;
}

h1 {
    border-bottom: 1px solid black;
}


#right{
    text-align: right;
}

#my-info {
    width: 70%;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    
}

#nav {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    background-color: rgb(145, 144, 144);
}

#intro {
    width: 70%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
}

#info {
    background-color: rgb(145, 144, 144);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#home-ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #333; /* Background color of the navigation bar */
    overflow: hidden; /* Ensure the navigation bar is contained */
    float: left;
}

#home-link {
    float: right; /* Align list items horizontally */
    list-style-type: none;
}

#home-link a {
    display: block; /* Make the link a block-level element */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Padding around the text */
    text-decoration: none; /* Remove underlines */
}

/* Add a hover effect */
#home-link a:hover {
    background-color: #111; /* Background color on hover */
}

#toggle-theme {
    background-color: #333;
    color: white;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    font-family: 'Verdana', sans-serif;
}

/* Button hover effect similar to link hover */
#toggle-theme:hover {
    background-color: #111;
}